html, body {
    height: 100%; /* El body debe ocupar toda la altura */
    margin: 0; /* Elimina los márgenes por defecto */
    padding: 0; /* Elimina el padding por defecto */
   
}



*{
    background-color: #1f1e27;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    color: #9480bb; /* Cambia el color de los títulos */
}

body {
    display: flex; /* Flexbox para facilitar el layout */
    flex-direction: column; /* Organiza los elementos de arriba hacia abajo */
    min-height: 100vh; /* Asegura que el body ocupe al menos toda la altura de la ventana */
}

main {
    flex-grow: 1; /* Permite que el main ocupe el espacio restante */
}


.emoji {
    font-size: 3rem; /* Tamaño grande para el emoji */
    transition: all 0.3s ease; /* Suaviza la transición cuando el usuario pasa el ratón */
    display: inline-block;
    animation: bounce 1s infinite; /* Animación de rebote */
    text-shadow: 2px 2px 5px rgba(255, 6, 6, 0.5); /* Añade sombra para darle un toque visual */
}

/* Efecto al pasar el ratón (hover) */
.emoji:hover {
    transform: scale(1.2); /* Aumenta el tamaño cuando el ratón está encima */
    color: #f4a261; /* Cambia el color del emoji al pasar el ratón */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); /* Aumenta la sombra al pasar el ratón */
}

.nav-link {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    background-color: #c5d0d8;
    color: #22223a;
    border-radius: 5px;
    padding: 8px 15px;
}

.card-body {
    color: #ffffff;
}

.card-subtitle {
    color: #9e9d9d;
}

.navbar-toggler-icon {
    background-color: transparent; /* El fondo debe ser transparente */
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    background-color: white; /* Cambia las líneas del icono a blanco */
}

.navbar-toggler-icon {
    background-image: none;
    position: relative;
    width: 30px;
    height: 3px;
    background-color: white; /* Cambia la línea central a blanco */
    display: block;
}

.navbar-toggler-icon::before, .navbar-toggler-icon::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white; /* Cambia el color de las otras dos líneas */
    left: 0;
}

.navbar-toggler-icon::before {
    top: -8px; /* Ajusta la posición de la primera línea */
}

.navbar-toggler-icon::after {
    bottom: -8px; /* Ajusta la posición de la tercera línea */
}

.navbar-toggler:focus {
     box-shadow: None; /* Elimina cualquier sombra que se pueda generar al hacer clic */
}

.card-img-top {
    height: 200px; /* Ajusta según necesites */
    width: 50%; /* Ajusta según necesites */
    object-fit: cover; /* Recorta la imagen sin deformarla */
}


.btn:hover {
    transform: scale(1.2); /* Aumenta el tamaño cuando el ratón está encima */
    color: #1941f1; /* Cambia el color del emoji al pasar el ratón */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); /* Aumenta la sombra al pasar el ratón */
}

